body {
  background-color: #000000
}
.staticBar h1 {
   text-align: left;
   font-size: 18pt;
   color: #A9A9A9;
   margin-bottom: 10px;
   text-decoration: underline;
}

.staticBar label {
  color: #A9A9A9;
  float:left;
  margin:5px;
}

.staticBar input {
  color: #000000;
  float:left;
  margin:5px;
}
