body
{
	cursor: crosshair;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	margin: 0px;
	color: #FFFFFF;
	background: #000000;
}
.topbar
{
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-o-user-select: none;
	unselectable:on;
	z-index: 15;
	display: -apple-inline-flex;
	display: inline-flex;
	-apple-flex-direction: row;
	flex-direction: row;
	-apple-flex-wrap: wrap;
	flex-wrap: wrap;
	position: fixed;
	width: auto;
	min-width: 500px;
	height: auto;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 18pt;
	background-color: rgba(0,0,0,0.7);
}
/*.topbar>* {
	flex: 1 1 160px;
}*/
.maplink
{
	cursor: pointer;
	height: 20;
	display: -webkit-inline-flex;
	text-align: center;
	border-style: solid;
	border-width: 1px;
	border-radius: 4px;
	padding-left: 5px;
	padding-right: 5px;
	vertical-align: middle;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	margin:3px;
}
.toptitle
{
	display: inline-block;
	text-align: left;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 7pt;
